@{
    Layout = null;
    ViewBag.Title = "History detail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div ng-app="ResultAngl" class="container">
        <br />
        <br />
        <div ng-controller="ResultController">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Url</th>
                        <th>Current Value</th>
                        <th>Max Value</th>
                        <th>Min Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="url in urls">
                        <td>{{ $index + 1 }}</td>
                        <td>{{url.Url}}</td>
                        <td>{{url.CurrentValue}}</td>
                        <td>{{url.MaxValue}}</td>
                        <td>{{url.MinValue}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
</body>
</html>
